In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("train.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
y=df['Survived']

In [ ]:
X=df[['Sex','Age','Embarked','Pclass']]

In [ ]:
y.isnull().sum()

0

In [ ]:
X.isnull().sum()

Sex         0
Age         0
Embarked    2
Pclass      0
dtype: int64

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [ ]:
X

        Sex        Age Embarked  Pclass
0      male  22.000000        S       3
1    female  38.000000        C       1
2    female  26.000000        S       3
3    female  35.000000        S       1
4      male  35.000000        S       3
..      ...        ...      ...     ...
886    male  27.000000        S       2
887  female  19.000000        S       1
888  female  29.699118        S       3
889    male  26.000000        C       1
890    male  32.000000        Q       3

[891 rows x 4 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

lb=LabelEncoder()
X['Embarked'] =lb.fit_transform(X['Embarked'])

lb1=LabelEncoder()
X['Sex'] =lb1.fit_transform(X['Sex'])
X

<ipython-input-274-9d1e2ab41e5c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Embarked'] =lb.fit_transform(X['Embarked'])
<ipython-input-274-9d1e2ab41e5c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Sex'] =lb1.fit_transform(X['Sex'])

     Sex        Age  Embarked  Pclass
0      1  22.000000         2       3
1      0  38.000000         0       1
2      0  26.000000         2       3
3      0  35.000000         2       1
4      1  35.000000         2       3
..   ...        ...       ...     ...
886    1  27.000000         2       2
887    0  19.000000         2       1
888    0  29.699118         2       3
889    1  26.000000         0       1
890    1  32.000000         1       3

[891 rows x 4 columns]

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X.values,y.values,random_state = 42,test_size= 0.2)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(712, 4)
(712,)
(179, 4)
(179,)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
clf1 = KNeighborsClassifier(n_neighbors = 7,p=1)#manhattan
clf2 = KNeighborsClassifier(n_neighbors = 3,p=2)#euclidean

In [ ]:
clf1.fit(X_train,y_train)

clf2.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
pred1 = clf1.predict(X_test)
pred2 = clf2.predict(X_test)

In [ ]:
cm1 = confusion_matrix(y_test,pred1)
cm2 = confusion_matrix(y_test,pred2)

In [ ]:
print(cm1)

[[93 12]
 [30 44]]

In [ ]:
print(cm2)

[[88 17]
 [21 53]]

In [ ]:
cl1 = classification_report(y_test,pred1)
cl2 = classification_report(y_test,pred2)

In [ ]:
print(cl1)

              precision    recall  f1-score   support

           0       0.76      0.89      0.82       105
           1       0.79      0.59      0.68        74

    accuracy                           0.77       179
   macro avg       0.77      0.74      0.75       179
weighted avg       0.77      0.77      0.76       179

In [ ]:
print(cl2)

              precision    recall  f1-score   support

           0       0.81      0.84      0.82       105
           1       0.76      0.72      0.74        74

    accuracy                           0.79       179
   macro avg       0.78      0.78      0.78       179
weighted avg       0.79      0.79      0.79       179